[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
asgiref = "*"
attrs = "*"
autobahn = "*"
Automat = "*"
channels = "*"
constantly = "*"
cryptography = "*"
daphne = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pyOpenSSL = "*"
python-decouple = "*"
pytz = "*"
service-identity = "*"
six = "*"
sqlparse = "*"
Twisted = "*"
txaio = "*"
zope.interface = "*"

[dev-packages]

[requires]
python_version = "3.10"
